﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Test de Git avec Visual Studio 2019</h1>
    <p>Ceci est un projet de test pour essayer Git avec Visual Studio Community 2019 :-)</p>
    <p>@ViewData["Test"]</p>
</div>
